* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-size: 62.5%;
	--ff-primary: 'Roboto', sans-serif;
	--text-color: #e1e1e6;
	--primary-color: #092d38;
}
body {
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: #06181c;
}
body * {
	font-family: var(--ff-primary);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

#app {
	padding: 2rem;
	max-width: 112rem;
	margin: 0 auto;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.5rem 0;
}
.search {
	display: flex;
	align-items: center;
}

.search input {
	height: 4.8rem;
	width: 46rem;
	border: none;
	padding: 0 0.8rem;
	background-color: transparent;
	color: #e1e1e6;
}

.search button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17rem;
	gap: 0.8rem;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #065e7c;
	border-radius: 0.5rem;
	height: 3.2rem;
	border: none;
	padding: 3.2rem 1.2rem;
	cursor: pointer;
}

.search button:hover {
	background-color: white;
	color: #065e7c;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 1.2rem;
	overflow: hidden;
}
table thead {
	border: 1px solid rgba(25, 247, 203, 0.255);
}
table * {
	font-size: 2rem;
	color: var(--text-color);
}
table thead th {
	background: var(--primary-color);
	text-align: left;
	font-weight: bold;
	padding: 1.5rem;
}

table td {
	padding: 1.5rem;
	text-align: left;
}

table tbody td.user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

table tbody tr:nth-child(even) {
	border: 1px solid rgba(25, 247, 203, 0.255);
	background-color: #02435817;
}
table tbody tr:nth-child(odd) {
	border: 1px solid rgba(25, 247, 203, 0.255);
	background-color: hsl(195, 61%, 6 50%);
}

table tbody td img {
	width: 5rem;
	height: 5rem;

	object-fit: cover;
	border-radius: 50%;
}

table tbody td.user a {
	font-size: 1rem;
	text-decoration: none;
	font-weight: 400;
}

table tbody td a p {
	font-weight: bold;
	font-size: 2rem;
}

table tbody td .remove {
	background: none;
	border: none;
	font-weight: bold;
	color: red;
	cursor: pointer;
}
